VaniAPIsHandler/Service References/SendMailAPI/SendSMTPMailWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MultiSendSmtpMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiSendSmtpMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiSendSmtpMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MultiSendSmtpMailSoapIn">
    <wsdl:part name="parameters" element="tns:MultiSendSmtpMail" />
  </wsdl:message>
  <wsdl:message name="MultiSendSmtpMailSoapOut">
    <wsdl:part name="parameters" element="tns:MultiSendSmtpMailResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSMTPMailWSSoap">
    <wsdl:operation name="MultiSendSmtpMail">
      <wsdl:input message="tns:MultiSendSmtpMailSoapIn" />
      <wsdl:output message="tns:MultiSendSmtpMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMTPMailWSSoap" type="tns:SendSMTPMailWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiSendSmtpMail">
      <soap:operation soapAction="http://tempuri.org/MultiSendSmtpMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMTPMailWSSoap12" type="tns:SendSMTPMailWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiSendSmtpMail">
      <soap12:operation soapAction="http://tempuri.org/MultiSendSmtpMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMTPMailWS">
    <wsdl:port name="SendSMTPMailWSSoap" binding="tns:SendSMTPMailWSSoap">
      <soap:address location="http://10.37.29.40:6793/SendSMTPMailWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMTPMailWSSoap12" binding="tns:SendSMTPMailWSSoap12">
      <soap12:address location="http://10.37.29.40:6793/SendSMTPMailWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>